<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turing Machine</title>
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/turing_machine.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container" id="identifiers"></div>
<div class="container" id="machine"></div>
<div id="data_container">
    <div>
        <label for="cur_state">Obecny stan maszyny</label>
        <input title="cur_state" id="cur_state" type="text" disabled>
    </div>
    <div>
        <label for="last_move">Ostatni ruch</label>
        <input title="last_move" id="last_move" type="text" disabled>
    </div>
</div>
<div id="inputs_container">
    <div>
        <label for="position">Pozycja początkowa głowicy</label>
        <input title="position" type="number" id="position" value="1">
    </div>
    <div>
        <label for="beginning">Stan początkowy</label>
        <input title="beginning" type="text" id="beginning" value="A"/>
    </div>
    <div>
        <label for="code">Kod Maszyny Turinga</label>
        <textarea title="code" id="code" rows="20"></textarea>
    </div>
    <div>
        <label for="step_by_step">Krok po kroku</label>
        <input type="checkbox" title="step_by_step" id="step_by_step">
    </div>
    <div>
        <button id="run">Uruchom</button>
    </div>
    <div>
        <button id="next_step">Następny krok</button>
    </div>
    <div>
        <button id="stop">Zatrzymaj</button>
    </div>
    <div>
        <button id="clear">Wyczyść</button>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        let $identifiers = $('#identifiers');
        let $machine = $('#machine');
        let $code = $('#code');
        let $beginning = $('#beginning');
        let $curState = $("#cur_state");
        let $lastMove = $("#last_move");
        let $beginningPosition = $("#position");
        let currentIndex;
        let rules;
        let beginningState = 'A';
        let currentState;
        let currentChar;
        let $currentBlock;
        let running = false;
        let speed = 50;
        let speedCount = 0;
        let maxBlockNumber = 20;
        let minBlockNumber = 0;
        let moveByStep = false;
        let finished = false;
        let blocksToAdd = 5;

        createMachine();

        function createMachine() {
            for (let i = minBlockNumber; i <= maxBlockNumber; ++i) {
                $identifiers.append('<div class="identifier">' + i + '</div>');
                $machine.append('<div class="turing_block" id="turing_block_' + i + '" contenteditable="true"></div>');
            }
        }

        requestAnimationFrame(turingMachine);
        function turingMachine() {
            requestAnimationFrame(turingMachine);
            if (!running) {
                return;
            }

            speedCount++;
            if (speedCount < speed) {
                return;
            }

            speedCount = 0;

            let moved;

            moved = false;
            for (let i = 0; i < rules.length; ++i) {
                let rule = rules[i];
                if (currentState === rule.fromState && currentChar === rule.char) {
                    currentState = rule.toState;
                    $currentBlock.html(rule.replaceChar);
                    $currentBlock.removeClass('current_block');
                    currentIndex += rule.move;
                    if(currentIndex > maxBlockNumber) {
                        addBlocks("right", blocksToAdd);
                    } else if (currentIndex < minBlockNumber) {
                        addBlocks("left", blocksToAdd);
                    }

                    $curState.val(currentState);
                    $lastMove.val(rule.move === 1 ? "R" : rule.move === 0 ? "-" : "L");

                    $currentBlock = $('#turing_block_' + currentIndex);
                    $currentBlock.addClass('current_block');
                    currentChar = $currentBlock.html();
                    moved = true;
                    console.log(rule);
                    break;
                }
            }

            if (!moved) {
                $currentBlock.removeClass('current_block');
                running = false;
                speedCount = 0;
                finished = true;
            }

            if(moveByStep) {
                running = false;
            }
        }

        $('#clear').click(function () {
            running = false;
            for(let i = minBlockNumber; i <= maxBlockNumber; ++i) {
                $('#turing_block_' + i).html('');
            }
        });

        $('#stop').click(function () {
           running = false;
        });

        $('#run').click(function () {
            let textRules = $code.val();
            textRules = textRules.split('\n');
            rules = [];
            for (let i = 0; i < textRules.length; ++i) {
                if (textRules[i].length <= 1) {
                    continue;
                }

                let splitRule = textRules[i].split(/,|;|->/);
                let move = splitRule[3][splitRule[3].length - 1];
                if (move === 'R') {
                    move = 1;
                } else if (move === 'L') {
                    move = -1;
                } else {
                    move = 0;
                }

                let rule = {
                    fromState: splitRule[0],
                    toState: splitRule[1],
                    char: splitRule[2],
                    replaceChar: splitRule[3].substring(0, splitRule[3].length - 1),
                    move: move
                };
                rules.push(rule);
            }

//            console.log(rules);

            currentIndex = parseInt($beginningPosition.val());
            currentState = beginningState;
            $currentBlock = $('#turing_block_' + currentIndex);
            currentChar = $currentBlock.html();
            $currentBlock.addClass('current_block');
            beginningState = $beginning.val();
            finished = false;
            running = true;
        });

        $("#next_step").click(function () {
           if(finished) {
               return;
           }

           running = true;
        });

        $('#step_by_step').click(function () {
           moveByStep = !moveByStep;
        });

//        addBlocks("left", 10);
//        addBlocks("right", 10);

        function addBlocks(side, num) {
            if(side === "left") {
                for(let i = minBlockNumber - 1; i >= minBlockNumber - num; --i) {
                    $identifiers.prepend('<div class="identifier">' + i + '</div>');
                    $machine.prepend('<div class="turing_block" id="turing_block_' + i + '" contenteditable="true"></div>');
                }
                minBlockNumber = minBlockNumber - num;
            } else if(side === "right") {
                for(let i = maxBlockNumber + 1; i <= maxBlockNumber + num; ++i) {
                    $identifiers.append('<div class="identifier">' + i + '</div>');
                    $machine.append('<div class="turing_block" id="turing_block_' + i + '" contenteditable="true"></div>');
                }
                maxBlockNumber = maxBlockNumber + num;
            }
        }

//        A,A,0->#R
//        A,B,#->#-
    });
</script>
</body>
</html>