<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martins Mapping</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body id="fractal_body">
<canvas id="canvas"></canvas>
<form>
    <div>
        <label for="speedInput">Speed</label>
        <input class="slider" type="range" min="2" max="100" id="speedInput" value="10"/>
    </div>
    <div>
        <label for="lengthInput">Length</label>
        <input class="slider" type="range" min="10" max="150" id="lengthInput" value="20"/>
    </div>
    <div>
        <label for="colorInput">Color</label>
        <input type="color" id="colorInput" value="#ffffff"/>
    </div>
    <div>
        <label for="opacityInput">Intensity: <span id="opacityValue">1</span></label>
        <input class="slider" type="range" min="0.01" max="1" id="opacityInput" value="1" step="0.01"/>
    </div>
    <div>
        <button id="clearButton">Clear</button>
    </div>
    <div>
        <a href="../graphs/index.html">Menu</a>
    </div>
</form>
</body>
<script>
    jQuery(document).ready(function () {
        /*
            Idea: płótno podzielone jak grid
            Każde pole (kratka) to jedno pole labiryntu - ścieżka lub ściana
            Najpierw zamalowujemy wszystko na czarno - ściana
            Zajmujemy się rysowaniem ścieżki metodą DFS
            Wyznaczamy dwa miejsca brzegowe - wejście/wyjście z labiryntu
            W miejscu przylegającym stawiamy ścieżkę i zapamiętujemy ją
            Wrzucamy to miejsce na stos i uruchamiamy DFS (co z wyjściem!)
            Rysujemy labirynt tylko w środku - pomijamy brzegi

            Znajdujemy ścieżkę metodą dfs - trzeba zapamiętać pozycję wejścia (albo znaleźć)
         */
        let sizeX;
        let sizeY;
        let x;
        let y;
        let speed;
        let color;
        let backgroundColor;
        let stop;
        let canvas;
        let ctx;
        let opacity;
        let dfsStack;
        let moves;
        let moveLength;
        let gridSizeX;
        let gridSizeY;
        let fieldWidth;
        let fieldHeight;
        let grid;
        let neighbours;
        let colors;

        let beginI;

        let drawingPath = false;

        init();

        function init() {
            prepareVariables();
            prepareEvents();
            requestAnimationFrame(draw);
        }

        function prepareVariables() {
            sizeX = $("#canvas").width();
            sizeX -= $("form").width();
            $("#canvas").width(sizeX);
            sizeY = $("#canvas").height();
            x = 0;
            y = 0;
            speed = 10;
            color = 0xffffff;
            backgroundColor = "#000000";
            stop = false;
            opacity = 1;
            dfsStack = [];
            moves = [{x: -1, y: 0}, {x: 1, y: 0}, {x: 0, y: -1}, {x: 0, y: 1}];
            moveLength = 20;

            colors = ['#000', '#fff', '#f00', '#0f0', '#00f'];

            prepareGridVariables();
            prepareCanvas();
            prepareGrid();
        }

        function prepareGridVariables() {
            gridSizeX = moveLength;
            fieldWidth = sizeX / gridSizeX;
            fieldHeight = fieldWidth;
            gridSizeY = Math.floor(sizeY / fieldHeight);
        }

        function fillGridCell(i, j) {
            let y = fieldWidth * i;
            let x = fieldHeight * j;

            ctx.fillStyle = colors[grid[i][j]];
            ctx.fillRect(x, y, fieldWidth, fieldHeight);
        }

        function prepareGrid() {
            grid = [];
            neighbours = [];

            for(let i = 0; i < gridSizeY; ++i) {
                grid[i] = [];
                neighbours[i] = [];
                for(let j = 0; j < gridSizeX; ++j) {
                    grid[i][j] = 0;
                    neighbours[i][j] = 0;
                    fillGridCell(i, j);
                }
            }

            prepareEntryPoint();
        }

        function drawGrid() {
            for(let i = 0; i < gridSizeY; ++i) {
                for(let j = 0; j < gridSizeX; ++j) {
                    fillGridCell(i, j);
                }
            }
        }

        function prepareEntryPoint() {
            let i = Math.floor(Math.random() * gridSizeY);
            let j = 0;

            grid[i][j] = 1;
            beginI = i;
            increaseNeighbours(i, j);
            dfsStack.push({i: i, j: j+1});
        }

        function increaseNeighbours(i, j) {
            for(let k = 0; k < moves.length; ++k) {
                let newI = i + moves[k].y;
                let newJ = j + moves[k].x;
                if(!(newI > 0 && newJ > 0 && newI < gridSizeY - 1 && newJ < gridSizeX - 1)) {
                    continue;
                }

                neighbours[newI][newJ]++;
            }
        }

        function prepareEvents() {
            $("#speedInput").change(function () {
                speed = parseInt($("#speedInput").val());
            });

            $("#lengthInput").change(function () {
                moveLength = parseInt($("#lengthInput").val());
            });

            $("#colorInput").change(function () {
                let tmp = $("#colorInput").val();
                tmp = tmp.replace("#", "");
                tmp = parseInt(tmp, 16);
                color = tmp;
            });

            $("#backgroundColorInput").change(function () {
                backgroundColor = $("#backgroundColorInput").val();
                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, sizeX, sizeY);
            });

            $("#opacityInput").bind('input', function () {
                opacity = parseFloat($("#opacityInput").val());
                $("#opacityValue").html(opacity);
            });

            $("#clearButton").click(function () {
                stop = true;
                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, sizeX, sizeY);
                prepareGridVariables();
                prepareGrid();
                drawingPath = false;
                stop = false;
                return false;
            });

            $("#stopButton").click(function () {
                stop = !stop;

                if (stop) {
                    $("#stopButton").html("Start");
                } else {
                    $("#stopButton").html("Stop");
                }
                return false;
            });
        }

        function prepareCanvas() {
            canvas = document.getElementById("canvas");
            canvas.width = sizeX;
            canvas.height = sizeY;
            ctx = canvas.getContext("2d");
            ctx.fillStyle = backgroundColor;
            ctx.fillRect(0, 0, sizeX, sizeY);
        }

        function update() {
            let currentPoint = dfsStack.pop();

            if(grid[currentPoint.i][currentPoint.j] > 0) {
                return;
            }

            if(neighbours[currentPoint.i][currentPoint.j] > 1) {
                return;
            }

            grid[currentPoint.i][currentPoint.j] = 1;
            increaseNeighbours(currentPoint.i, currentPoint.j);

            let order = [0, 1, 2, 3];
            let randomOrderMoves = [];

            for(let i = 0; i < 4; ++i) {
                let index = Math.floor(Math.random() * order.length);
                randomOrderMoves.push(moves[order[index]]);
                order.splice(index, 1);
            }

            for(let i = 0; i < randomOrderMoves.length; ++i) {
                let newI = currentPoint.i + randomOrderMoves[i].y;
                let newJ = currentPoint.j + randomOrderMoves[i].x;

                if(!(newI > 0 && newJ > 0 && newI < gridSizeY - 1 && newJ < gridSizeX - 1)) {
                    continue;
                }

                if(grid[newI][newJ] > 0) {
                    continue;
                }

                if(neighbours[newI][newJ] > 1) {
                    continue;
                }

                dfsStack.push({i: newI, j: newJ});
            }
        }

        function updatePath() {
            let currentPoint = dfsStack.pop();

            if(grid[currentPoint.i][currentPoint.j] > 2) {
                return;
            }

            grid[currentPoint.i][currentPoint.j] = 3;

            for(let i = 0; i < moves.length; ++i) {
                let newI = currentPoint.i + moves[i].y;
                let newJ = currentPoint.j + moves[i].x;

                if(!(newI >= 0 && newJ >= 0 && newI < gridSizeY && newJ < gridSizeX)) {
                    continue;
                }

                if(grid[newI][newJ] !== 1) {
                    continue;
                }

                grid[newI][newJ] = 2;
                dfsStack.push({i: newI, j: newJ});
            }
        }

        function draw() {
            requestAnimationFrame(draw);
            if (stop) {
                return;
            }

            if(dfsStack.length === 0 && drawingPath === true) {
                return;
            } else if(dfsStack.length === 0) {
                drawingPath = true;
                dfsStack.push({i: beginI, j: 0});
            }

            if(drawingPath === false) {
                update();
            } else {
                updatePath();
            }

            drawGrid();
        }
    });
</script>
</html>
