<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <title>Maze</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Maze</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="text-primary" href="bfs.html">BFS</a>
                </li>
                <li class="list-group-item">
                    <a class="text-primary" href="dfs.html">DFS</a>
                </li>
                <li class="list-group-item">
                    <a class="text-primary" href="grid.html">Grid</a>
                </li>
                <li class="list-group-item">
                    <a class="text-primary" href="recursive_division.html">Recursive Division</a>
                </li>
                <li class="list-group-item">
                    <a class="text-primary" href="../../index.html">Menu</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/popper.js/dist/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
