<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attractors</title>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body id="menu_body">
<div class="menu" id="clifford_div">
    <a class="menu_link" href="clifford_attractor.html">Clifford Attractor</a>
</div>
<div class="menu" id="martins_div">
    <a class="menu_link" href="martins_mapping.html">Martins Mapping</a>
</div>
<div class="menu" id="dejong_div">
    <a class="menu_link" href="dejong_attractor.html">De Jong Attractor</a>
</div>
</body>
</html>
