<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Physics</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Physics Simulations</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="text-primary" href="magnetic_particles.html">Magnetic Particles</a>
                </li>
                <li class="list-group-item">
                    <a class="text-primary" href="wave.html">Wave</a>
                </li>
                <li class="list-group-item">
                    <a class="text-primary" href="../../index.html">Menu</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>