<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magnetic Particles</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../js/brushy.js"></script>
    <script src="../../js/point.js"></script>
    <script src="../../js/rectangle.js"></script>
    <script src="../../js/particle.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body id="fractal_body">
<canvas id="canvas"></canvas>
<form>
    <div>
        <label for="speedInput">Speed</label>
        <input class="slider" type="range" min="1" max="300" id="speedInput" value="10"/>
    </div>
    <div>
        <label for="lengthInput">Length</label>
        <input class="slider" type="range" min="1" max="100" id="lengthInput" value="10"/>
    </div>
    <div>
        <label for="colorInput">Color</label>
        <input type="color" id="colorInput" value="#00ff00"/>
    </div>
    <div>
        <label for="opacityInput">Intensity: <span id="opacityValue">0.05</span></label>
        <input class="slider" type="range" min="0.01" max="1" id="opacityInput" value="0.05" step="0.01"/>
    </div>
    <div>
        <button id="clearButton">Clear</button>
    </div>
    <div>
        <a href="index.html">Menu</a>
    </div>
</form>
</body>
<script>
    jQuery(document).ready(function () {
        let sizeX;
        let sizeY;
        let $canvas;
        let brushy;

        init();

        function init() {
            prepareVariables();
            brushy.start(animate);
        }

        function prepareVariables() {
            $canvas = $("#canvas");
            sizeX = $canvas.width();
            sizeX -= $("form").width();
            $canvas.width(sizeX);
            sizeY = $canvas.height();

            brushy = new Brushy("canvas", sizeX, sizeY);

            prepareParticles();
        }

        function prepareParticles() {
            for(let i = 0; i < 30; ++i) {
                let particle = new Particle(new Rectangle(0, 0, sizeX, sizeY));
                particle.fillColor = "#f00";
                particle.shouldBounce = true;
                brushy.addToScene(particle);
            }
        }

        function animate() {
            resetForces();
            updateForces();
        }

        function resetForces() {
            for(let i = 0; i < brushy.scene.length; ++i) {
                brushy.scene[i].resetForce();
            }
        }

        function updateForces() {
            for(let i = 0; i < brushy.scene.length; ++i) {
                for(let j = i + 1; j < brushy.scene.length; ++j) {
                    let difference = Point.difference(brushy.scene[j].location, brushy.scene[i].location);
                    let distance = Point.distance(brushy.scene[j].location, brushy.scene[i].location);

                    if(distance === 0) {
                        continue;
                    }

                    let forceVal = -1 * brushy.scene[i].charge * brushy.scene[j].charge / (distance * distance);
                    forceVal = Math.min(forceVal, 1000);
                    let force = new Point(forceVal * difference.x / distance, forceVal * difference.y / distance);
                    brushy.scene[i].force.add(force);
                    brushy.scene[j].force.substract(force);
                }
            }
        }
    });
</script>
</html>
