<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pseudo Fluid</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../js/point.js"></script>
    <script src="../../js/rectangle.js"></script>
    <script src="../../js/particle.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body id="fractal_body">
<canvas id="canvas"></canvas>
<form>
    <div>
        <label for="speedInput">Speed</label>
        <input class="slider" type="range" min="1" max="300" id="speedInput" value="10"/>
    </div>
    <div>
        <label for="lengthInput">Length</label>
        <input class="slider" type="range" min="1" max="100" id="lengthInput" value="10"/>
    </div>
    <div>
        <label for="colorInput">Color</label>
        <input type="color" id="colorInput" value="#00ff00"/>
    </div>
    <div>
        <label for="opacityInput">Intensity: <span id="opacityValue">0.05</span></label>
        <input class="slider" type="range" min="0.01" max="1" id="opacityInput" value="0.05" step="0.01"/>
    </div>
    <div>
        <button id="clearButton">Clear</button>
    </div>
    <div>
        <a href="index.html">Menu</a>
    </div>
</form>
</body>
<script>
    jQuery(document).ready(function () {
        let sizeX;
        let sizeY;
        let centerX;
        let centerY;
        let speed;
        let canvas;
        let ctx;
        let $canvas;
        let particles;
        let particlesInRow = 0;
        let radius = 15;

        init();

        function init() {
            prepareVariables();
            requestAnimationFrame(animate);
        }

        function prepareVariables() {
            $canvas = $("#canvas");
            sizeX = $canvas.width();
            sizeX -= $("form").width();
            $canvas.width(sizeX);
            sizeY = $canvas.height();
            centerX = sizeX / 2;
            centerY = sizeY / 2;

            prepareCanvas();
            prepareParticles();
        }

        function prepareCanvas() {
            canvas = document.getElementById("canvas");
            canvas.width = sizeX;
            canvas.height = sizeY;
            ctx = canvas.getContext("2d");
            ctx.fillStyle = "#fff";
            ctx.fillRect(0, 0, sizeX, sizeY);
        }



        function prepareParticles() {
            particles = [];
            let margin = 15;
            particlesInRow = Math.round(sizeX / (2 * radius + margin));
            for(let j = 0; j < sizeY / (2*radius + margin); ++j) {
                for (let i = 0; i < sizeX / (2 * radius + margin); ++i) {
                    let particle = new Particle(new Rectangle(0, 0, 0, 0));
                    if(j % 2 === 0) {
                        particle.location = new Point(i * (2 * radius + margin) + radius, j * (2 * radius + margin) + radius);
                    } else {
                        particle.location = new Point(i * (2 * radius + margin), j * (2 * radius + margin) + radius);
                    }

                    particle.radius = radius;
                    particle.speed = new Point(1,1);
                    particles.push(particle);
                }
            }
        }

        function animate() {
            requestAnimationFrame(animate);
            // resetForces();
            // updateForces();
            updateParticles();
            // containParticles();
            // randomResize();
            resize();
            draw();
        }

        function randomResize() {
            for(let j = 0; j < 10; ++j) {
                let i = Math.random() * particles.length;
                i = Math.round(i);
                let change = 0.5;
                if (Math.random() > 0.5) {
                    particles[i].radius += change;
                } else {
                    particles[i].radius -= change;
                }
            }
        }

        let resChange = 0.1;

        function resize() {
            if(particles[0].radius > radius + 5) {
                resChange *= -1;
            } else if(particles[0].radius < radius - 5) {
                resChange *= -1;
            }

            let par = 1;
            for(let i = 0; i < particles.length; ++i) {
                if(i % particlesInRow === 0) {
                    par *= -1;
                }

                if (i % 2 === 0) {
                    particles[i].radius += resChange * par;
                } else {
                    particles[i].radius -= resChange * par;

                }
            }
        }

        function resetForces() {
            for(let i = 0; i < particles.length; ++i) {
                particles[i].resetForce();
            }
        }

        function updateForces() {
            for(let i = 0; i < particles.length; ++i) {
                for(let j = i + 1; j < particles.length; ++j) {
                    let difference = Point.difference(particles[j].location, particles[i].location);
                    let distance = Point.distance(particles[j].location, particles[i].location);

                    if(distance === 0) {
                        continue;
                    }

                    let forceVal = -1 * particles[i].charge * particles[j].charge / (distance * distance);
                    forceVal = Math.min(forceVal, 1000);
                    let force = new Point(forceVal * difference.x / distance, forceVal * difference.y / distance);
                    particles[i].force.add(force);
                    particles[j].force.substract(force);
                }
            }
        }

        function updateParticles() {
            for(let i = 0; i < particles.length; ++i) {
                particles[i].applyForce();
                particles[i].speed.x = Math.min(particles[i].speed.x, 5);
                particles[i].speed.y = Math.min(particles[i].speed.y, 5);
                particles[i].move();
            }
        }

        function containParticles() {
            for(let i = 0; i < particles.length; ++i) {
                if(particles[i].location.x > sizeX) {
                    particles[i].location.x = -particles[i].radius;
                }
                if(particles[i].location.y > sizeY) {
                    particles[i].location.y = -particles[i].radius;
                }
                // particles[i].bounce(new Rectangle(0, 0, sizeX, sizeY));
            }
        }

        function draw() {
            ctx.fillStyle = "#000";
            ctx.fillRect(0, 0, sizeX, sizeY);
            for(let i=0; i < particles.length; ++i) {
                particles[i].draw(ctx);
            }
        }
    });
</script>
</html>
