<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magnetic Particles</title>
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <script src="../../js/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
    <link href="../../css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script src="../../js/bootstrap.min.js"></script>
</head>
<body id="fractal_body">
<canvas id="canvas"></canvas>
<form>
    <div>
        <label for="radiusInput">Radius</label>
        <input class="slider" type="range" min="1" max="100" id="radiusInput" value="30" step="1"/>
    </div>
    <div>
        <label for="aInput">A</label>
        <input class="slider" type="range" min="0" max="2" id="aInput" value="1" step="0.1"/>
    </div>
    <div>
        <label for="bInput">B</label>
        <input class="slider" type="range" min="0" max="2" id="bInput" value="1" step="0.1"/>
    </div>
</form>
</body>
<script>
    jQuery(document).ready(function () {
        let sizeX;
        let sizeY;
        let $canvas;
        let ctx;
        let canvas;
        let distance = 20;
        let angle = 0;
        let radius = 30;
        let pointRadius = 2;
        let a, b;

        init();

        function init() {
            prepareVariables();
            prepareEvents();
            requestAnimationFrame(draw);
        }

        function prepareVariables() {
            $canvas = $("#canvas");
            sizeX = $canvas.width();
            sizeX -= $("form").width();
            $canvas.width(sizeX);
            sizeY = $canvas.height();
            a = 1;
            b = 1;
            prepareCanvas();
        }

        function prepareCanvas() {
            canvas = document.getElementById("canvas");
            canvas.width = sizeX;
            canvas.height = sizeY;
            ctx = canvas.getContext("2d");
            ctx.fillStyle = "#fff";
            ctx.fillRect(0, 0, sizeX, sizeY);
        }

        function prepareEvents() {
            $("#radiusInput").change($.proxy(function () {
                radius = $("#radiusInput").val();
            }, this));

            $("#aInput").change($.proxy(function () {
                a = $("#aInput").val();
            }, this));

            $("#bInput").change($.proxy(function () {
                b = $("#bInput").val();
            }, this));
        }

        // Converts from degrees to radians.
        Math.radians = function (degrees) {
            return degrees * Math.PI / 180;
        };

        // Converts from radians to degrees.
        Math.degrees = function (radians) {
            return radians * 180 / Math.PI;
        };

        function draw() {
            requestAnimationFrame(draw);

            ctx.fillStyle = "#fff";
            ctx.fillRect(0, 0, sizeX, sizeY);
            ctx.fillStyle = "#000";
            let offset = distance * 10;

            offset = 0;
            ctx.beginPath();
            for (let cx = -offset; cx < sizeX + offset; cx += distance) {
                for (let cy = -offset; cy < sizeY + offset; cy += distance) {
                    let x_distance = cx / distance;
                    let y_distance = cy / distance;
                    let n_angle = angle + 10 * x_distance + 10 * y_distance;
                    n_angle %= 360;
                    let x = cx + radius * a * Math.cos(Math.radians(n_angle));
                    let y = cy + radius * b * Math.sin(Math.radians(n_angle));
                    ctx.moveTo(x,y);
                    ctx.arc(x, y, pointRadius, 0, 2 * Math.PI);

                }
            }

            ctx.fill();

            angle += 3;
            angle %= 360;
        }
    });
</script>
</html>
