<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pudełka</title>
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body id="fractal_body">
<div id="box-canvas"></div>
<form>
    <div>
        <h1>Działania</h1>
        <div id="moves"></div>
    </div>
    <div>
        <h1>Stos</h1>
        <div id="stack"></div>
    </div>
</form>
</body>
<script>
    jQuery(document).ready(function () {
        let $canvas = $('#box-canvas');
        let graph = [];
        let count = [];
        let graphSize = 5;
        let stack = [];
        let $stack = $('#stack');
        let $moves = $('#moves');

        for (let i = 0; i < graphSize; ++i) {
            graph[i] = [];
            count[i] = 0;
            for (let j = 0; j < graphSize; ++j) {
                graph[i][j] = 0;
            }
        }

        graph[0][1] = 1;
        graph[0][2] = 1;
        graph[1][3] = 1;
        graph[3][4] = 1;

        function countDepths() {
            for (let i = 0; i < graphSize; ++i) {
                for (let j = 0; j < graphSize; ++j) {
                    if (graph[i][j] === 1) {
                        count[i] += 1
                    }
                }
            }
        }

        function drawBoxes() {
            countDepths();
            $canvas.append('<div data-number="0" id="box0" class="box" style="width: 100%; height: 100%;"></div>');
            for (let i = 0; i < graphSize; ++i) {
                for (let j = 0; j < graphSize; ++j) {
                    if (graph[i][j] === 1) {
                        $('#box' + i).append('<div data-number="'+j+'" id="box' + j + '" class="box" style="width: ' + 99 / count[i] + '%; height: 80%;"></div>');
                    }
                }
            }

            addNumbers();
            hideAll();
            addClickEvents();
        }

        function addNumbers() {
            for (let i = 0; i < graphSize; ++i) {
                $('#box' + i).prepend('<h1>' + i + '</h1>');
            }
        }

        function hideAll() {
            for (let i = 1; i < graphSize; ++i) {
                $('#box' + i).css('visibility', 'hidden');
            }
        }

        let click = false;

        function updateStackDiv() {
            $stack.empty();
            for(let i = 0; i < stack.length; ++i) {
                $stack.prepend('<p>Pudełko ' + stack[i] + '</p>');
            }
        }

        function addOpenMove(number) {
            $moves.append('<p>Otwórz pudełko ' + number + '</p>');
        }

        function addCloseMove(number) {
            $moves.append('<p>Zamknij pudełko ' + number + '</p>');
        }

        function addClickEvents() {
            for (let i = 0; i < graphSize; ++i) {
                $('#box' + i).click(function() {
                    let number = parseInt($(this).attr('data-number'));
                    let parentNumber = parseInt($(this).parent('div').attr('data-number'));

                    if(stack.length === 0 || stack[stack.length - 1] === parentNumber) {
                        stack.push(number);
                        $(this).children('div').css('visibility', 'visible');
                        updateStackDiv();
                        addOpenMove(number);
                        click = false;
                        return;
                    } else if(stack.length > 0 && stack[stack.length - 1] === number) {

                    } else {
                        return;
                    }



                    if(count[number] === 0 && !click) {
                        for(let j = 0; j < graphSize; ++j) {
                            if(graph[j][number] === 1) {
                                count[j]--;
                                break;
                            }
                        }
                        $(this).addClass('hidden');
                        click = true;
                        stack.pop();
                        updateStackDiv();
                        addCloseMove(number);
                    } else {
                        click = false;
                    }
                });
            }
        }


        drawBoxes();
    });
</script>
</html>