<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Distortion</title>
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/camera.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
</head>
<body id="fractal_body">
<video id="video" width="640" height="480" autoplay></video>
<canvas id="canvas" width="640" height="480"></canvas>
<form>
    <div>
        <label for="distanceInput">Distance</label>
        <input class="slider" type="range" min="10" max="100" id="distanceInput" value="20"/>
    </div>
    <div>
        <label for="selection">Selection</label>
        <select id="selection" name="selection">
            <option value="circles">Circles</option>
            <option value="lines">Lines</option>
            <option value="circles approx.">Circles approx.</option>
            <option value="rect approx.">Rect approx.</option>
            <option value="rgb">RGB</option>
            <option value="wave">Wave</option>
        </select>
    </div>
    <div>
        <a class="btn btn-info" href="../../index.html">Menu</a>
    </div>
</form>
</body>
<script>
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
            animate();
        });
    }

    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    let width = 640;
    let height = 480;
    let maxDistance = 20;
    let data;
    let angle = 0;

    $("#distanceInput").change(function () {
        maxDistance = parseInt($("#distanceInput").val());
    });

    function animate() {
        window.requestAnimationFrame(animate);
        context.drawImage(video, 0, 0, 640, 480);
        let selection = $('select[name=selection]').val();
        if (selection === "circles") {
            circles();
        } else if (selection === "lines") {
            lines();
        } else if (selection === "circles approx.") {
            circleApprox();
        } else if (selection === "rect approx.") {
            rectApprox();
        } else if (selection === "rgb") {
            rgb();
        } else if(selection === "wave") {
            wave();
        }
    }

    function getPixel(x, y) {
        let pixel = [];
        let index = (y * width + x) * 4;
        for (let k = 0; k < 3; k++) {
            pixel[k] = data[index + k];
        }
        return pixel;
    }

    // Converts from degrees to radians.
    Math.radians = function (degrees) {
        return degrees * Math.PI / 180;
    };

    // Converts from radians to degrees.
    Math.degrees = function (radians) {
        return radians * 180 / Math.PI;
    };

    function wave() {
        let distance = 1;
        let radius = maxDistance / 5;
        let a = 1, b = 1;
        let offset = distance * 10;
        offset = 0;
        data = context.getImageData(0, 0, width, height).data;
        let image = context.getImageData(0, 0, width, height);
        for (let cx = 0; cx < width; cx += distance) {
            for (let cy = 0; cy < height; cy += distance) {
                let x_distance = cx / distance;
                let y_distance = cy / distance;
                let n_angle = angle + 10 * x_distance + 10 * y_distance;
                n_angle %= 360;
                let x = cx + radius * a * Math.cos(Math.radians(n_angle));
                let y = cy + radius * b * Math.sin(Math.radians(n_angle));
                x = Math.round(x);
                y = Math.round(y);

                for (let k = 0; k < 3; ++k) {
                    //image.data[((y * width) + x) * 4 + k] = data[((cy * width) + cx) * 4 + k];
                    image.data[((cy * width) + cx) * 4 + k] = data[((y * width) + x) * 4 + k];
                }
            }
        }

        context.putImageData(image, 0, 0);

        angle += 3;
        angle %= 360;
    }

    function rgb() {
        //data = context.getImageData(0, 0, width, height).data;
        let image = context.getImageData(0, 0, width, height);
        for (let i = 0; i < image.data.length; i += 4) {
            if (image.data[i] >= image.data[i + 1] && image.data[i] >= image.data[i + 2]) {
                image.data[i + 1] = 0;
                image.data[i + 2] = 0;
                //image.data[i] = 255;
            } else if (image.data[i + 1] >= image.data[i] && image.data[i + 1] >= image.data[i + 2]) {
                image.data[i] = 0;
                image.data[i + 2] = 0;
                //image.data[i + 1] = 255;
            } else if (image.data[i + 2] >= image.data[i] && image.data[i + 2] >= image.data[i + 1]) {
                image.data[i] = 0;
                image.data[i + 1] = 0;
                //image.data[i+2] = 255;
            }
            // image.data[i] = 0;
            // image.data[i + 1] = 0;
            // data[i + 2] = 0;
            // data[i + 3] = 0;
        }
        context.putImageData(image, 0, 0);
    }

    function circleApprox() {
        data = context.getImageData(0, 0, width, height).data;
        context.fillStyle = "#fff";
        context.fillRect(0, 0, width, height);
        for (let x = 0; x <= width; x += maxDistance) {
            for (let y = 0; y <= height; y += maxDistance) {
                let sum = [0, 0, 0];
                let count = 0;
                for (let x2 = x; x2 <= x + maxDistance; x2 += 1) {
                    for (let y2 = y; y2 <= y + maxDistance; y2 += 1) {
                        let pixel = getPixel(x2, y2);
                        for (let k = 0; k < 3; k++) {
                            sum[k] += pixel[k];
                        }
                        count++;
                    }
                }

                for (let k = 0; k < 3; k++) {
                    sum[k] /= count;
                    sum[k] = Math.round(sum[k]);
                }

                context.fillStyle = "rgb(" + sum[0] + "," + sum[1] + "," + sum[2] + ")";
                context.beginPath();
                context.ellipse(x + maxDistance / 2, y + maxDistance / 2, Math.abs(maxDistance / 2), Math.abs(maxDistance / 2), 0, 0, 360);
                context.fill();
            }
        }
    }

    function rectApprox() {
        data = context.getImageData(0, 0, width, height).data;
        context.fillStyle = "#fff";
        context.fillRect(0, 0, width, height);
        for (let x = 0; x < width; x += maxDistance) {
            for (let y = 0; y < height; y += maxDistance) {
                let sum = [0, 0, 0];
                let count = 0;
                for (let x2 = x; x2 <= Math.min(x + maxDistance, width - 1); x2 += 1) {
                    for (let y2 = y; y2 <= Math.min(y + maxDistance, height - 1); y2 += 1) {
                        let pixel = getPixel(x2, y2);
                        for (let k = 0; k < 3; k++) {
                            sum[k] += pixel[k];
                        }
                        count++;
                    }
                }

                for (let k = 0; k < 3; k++) {
                    sum[k] /= count;
                    sum[k] = Math.round(sum[k]);
                }

                context.fillStyle = "rgb(" + sum[0] + "," + sum[1] + "," + sum[2] + ")";
                context.fillRect(x, y, maxDistance, maxDistance);
            }
        }
    }


    function circles() {
        data = context.getImageData(0, 0, width, height).data;
        for (let i = 0; i < 10000; i++) {
            let x = Math.round(Math.random() * width);
            let y = Math.round(Math.random() * height);
            let distance = Math.round(Math.random() * maxDistance * 2 - maxDistance);
            let nx = x + distance;
            let ny = y + distance;
            if (nx < 0 || ny < 0 || nx >= width || ny >= height) {
                continue;
            }
            let pixel1 = getPixel(x, y);
            let pixel2 = getPixel(nx, ny);
            let npixel = [];
            for (let k = 0; k < 3; k++) {
                npixel[k] = Math.round((pixel1[k] + pixel2[k]) / 2);
            }

            context.fillStyle = "rgb(" + npixel[0] + "," + npixel[1] + "," + npixel[2] + ")";
            context.beginPath();
            context.ellipse(x + distance / 2, y + distance / 2, Math.abs(distance), Math.abs(distance), 0, 0, 360);
            context.fill();
        }
    }

    function lines() {
        data = context.getImageData(0, 0, width, height).data;
        for (let i = 0; i < 10000; i++) {
            let x = Math.round(Math.random() * width);
            let y = Math.round(Math.random() * height);
            let distance = Math.round(Math.random() * maxDistance * 2 - maxDistance);
            let nx = x + distance;
            let ny = y + distance;
            if (nx < 0 || ny < 0 || nx >= width || ny >= height) {
                continue;
            }
            let pixel1 = getPixel(x, y);
            let pixel2 = getPixel(nx, ny);
            let npixel = [];
            for (let k = 0; k < 3; k++) {
                npixel[k] = Math.round((pixel1[k] + pixel2[k]) / 2);
            }

            context.fillStyle = "rgb(" + npixel[0] + "," + npixel[1] + "," + npixel[2] + ")";
            context.strokeStyle = "rgb(" + npixel[0] + "," + npixel[1] + "," + npixel[2] + ")";
            context.lineWidth = 5;
            context.beginPath();
            context.moveTo(x, y);
            context.lineTo(nx, ny);
            context.stroke();
        }
    }
</script>
</html>