<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martins Mapping</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body id="fractal_body">
<canvas id="canvas"></canvas>
<form>
    <div>
        <label for="speedInput">Speed</label>
        <input class="slider" type="range" min="2" max="100" id="speedInput" value="10"/>
    </div>
    <div>
        <label for="lengthInput">Length</label>
        <input class="slider" type="range" min="4" max="100" id="lengthInput" value="10"/>
    </div>
    <div>
        <label for="colorInput">Color</label>
        <input type="color" id="colorInput" value="#ffffff"/>
    </div>
    <div>
        <label for="opacityInput">Intensity: <span id="opacityValue">1</span></label>
        <input class="slider" type="range" min="0.01" max="1" id="opacityInput" value="1" step="0.01"/>
    </div>
    <div>
        <label for="changeColorInput">Change color</label>
        <input type="checkbox" id="changeColorInput" />
    </div>
    <div>
        <button id="clearButton">Clear</button>
    </div>
    <div>
        <a href="index.html">Menu</a>
    </div>
</form>
</body>
<script>
    jQuery(document).ready(function () {
        var sizeX;
        var sizeY;
        var centerX;
        var centerY;
        var scale;
        var x;
        var y;
        var a;
        var b;
        var c;
        var d;
        var p;
        var speed;
        var color;
        var backgroundColor;
        var stop;
        var pixels;
        var percent;
        var canvas;
        var ctx;
        var examples;
        var opacity;
        var visited;
        var bfsQueue;
        var moves;
        var moveLength;
        var colorsArray;
        var colorIndex;
        var changeColor = false;
        var colorChangeCount = 0;
        let currentIndex;

        init();

        function init() {
            prepareVariables();
            setSliders();
            prepareEvents();
            clearPixelsArray();
            requestAnimationFrame(draw);
        }

        function prepareVariables() {
            sizeX = $("#canvas").width();
            sizeX -= $("form").width();
            $("#canvas").width(sizeX);
            sizeY = $("#canvas").height();
            centerX = sizeX / 2;
            centerY = sizeY / 2;
            scale = 5;
            x = 0;
            y = 0;
            speed = 10;
            color = 0xffffff;
            backgroundColor = "#000000";
            stop = false;
            pixels = [];
            percent = 5 / 100;
            opacity = 1;
            examples = [];
            visited = [];
            bfsQueue = [];
            bfsQueue.push({x: sizeX/2, y: sizeY/2, fromX: sizeX/2, fromY: sizeY/2, distance: 0});
            moves = [{x: -1, y: 0}, {x: 1, y: 0}, {x: 0, y: -1}, {x: 0, y: 1}];
            colorsArray = [0xff0000, 0x00ff00, 0x0000ff, 0xb00b00,  0xde1e7e, 0xe1e100, 0xBADA55, 0xF0FEAF, 0xac1d1c, 0xfacade, 0xc2e9fb, 0x96e6a1, 0xf68084, 0xfee140, 0x3cba92];
            colorIndex = -1;
//            moves = [{x: -1, y: -1}, {x: -1, y: 1}, {x: 1, y: 1}, {x: 1, y: -1}];
            moveLength = 15;
            currentIndex = 0;
            prepareVisited();
            prepareExamples();
            prepareCanvas();
        }

        function getNextColor() {
            colorIndex++;
            colorIndex %= colorsArray.length;
            return colorsArray[colorIndex];
        }

        function prepareVisited() {
            for (let i = 0; i <= sizeX; ++i) {
                visited[i] = [];
            }
        }

        function setSliders() {
            setSlidersValues();
            setSlidersLabelsValues();
            setFormulaVariables();
        }

        function setSlidersValues() {
            $("#opacityInput").val(opacity);
        }

        function setSlidersLabelsValues() {
            $("#opacityValue").html(opacity);
        }

        function setFormulaVariables() {
        }

        function prepareEvents() {
            $("#speedInput").change(function () {
                speed = parseInt($("#speedInput").val());
            });

            $("#lengthInput").change(function () {
                moveLength = parseInt($("#lengthInput").val());
            });

            $("#colorInput").change(function () {
                var tmp = $("#colorInput").val();
                tmp = tmp.replace("#", "");
                tmp = parseInt(tmp, 16);
                color = tmp;
            });

            $("#backgroundColorInput").change(function () {
                backgroundColor = $("#backgroundColorInput").val();
                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, sizeX, sizeY);
            });

            $("#changeColorInput").change(function() {
                changeColor = !changeColor;
                if(!changeColor) {
                    var tmp = $("#colorInput").val();
                    tmp = tmp.replace("#", "");
                    tmp = parseInt(tmp, 16);
                    color = tmp;
                }
            });

            $("#opacityInput").bind('input', function () {
                opacity = parseFloat($("#opacityInput").val());
                $("#opacityValue").html(opacity);
            });

            $("#clearButton").click(function () {
                stop = true;
                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, sizeX, sizeY);
                bfsQueue = [];
//                bfsQueue.push({x: 0, y: 0, fromX: 0, fromY: 0, distance: 0});
                bfsQueue.push({x: sizeX/2, y: sizeY/2, fromX: sizeX/2, fromY: sizeY/2, distance: 0});
//                bfsQueue.push({x: moveLength * Math.floor(sizeX / moveLength), y: moveLength * Math.floor(sizeY / moveLength), fromX: moveLength * Math.floor(sizeX / moveLength), fromY: moveLength * Math.floor(sizeY / moveLength), distance: 0});
                currentIndex = 0;
                prepareVisited();
                stop = false;
                return false;
            });

            $("#stopButton").click(function () {
                stop = !stop;

                if (stop) {
                    $("#stopButton").html("Start");
                } else {
                    $("#stopButton").html("Stop");
                }
                return false;
            });

            $("#examples").change(function () {
                var selectedIndex = $('select[name=examples]').val();
                if (selectedIndex == -1) {
                    return;
                }

                var selectedExample = examples[selectedIndex];

                opacity = selectedExample.opacity;
                setSlidersValues();
                setSlidersLabelsValues();
                setFormulaVariables();
            });
        }

        function clearPixelsArray() {
            for (var i = 0; i <= sizeX; ++i) {
                pixels[i] = [];
                for (var j = 0; j <= sizeY; ++j) {
                    pixels[i][j] = 0;
                }
            }
        }

        function prepareCanvas() {
            canvas = document.getElementById("canvas");
            canvas.width = sizeX;
            canvas.height = sizeY;
            ctx = canvas.getContext("2d");
            ctx.fillStyle = backgroundColor;
            ctx.fillRect(0, 0, sizeX, sizeY);
        }

        function sgn(a) {
            if (a < 0) {
                return -1;
            } else {
                return 1;
            }
        }

        function draw() {
            requestAnimationFrame(draw);
            if (stop || bfsQueue.length == 0) {
                return;
            }

            colorChangeCount++;
            if(colorChangeCount > 50 * 100/moveLength && changeColor) {
                colorChangeCount = 0;
                color = getNextColor();
            }

            var xn, yn;
            var rgb = hex2rgb(color);
            ctx.fillStyle = color;
            ctx.strokeStyle = "rgba(" + rgb[0] * 255 + "," + rgb[1] * 255 + "," + rgb[2] * 255 + "," + opacity + ")";
            ctx.lineWidth = moveLength / 2;
            ctx.beginPath();

            for (var i = 0; i < speed && bfsQueue.length > 0 && !stop; ++i) {
                colorChangeCount++;
                var rnd;
                var currentPoint = bfsQueue[0];
                bfsQueue.splice(0, 1);
                if(visited[currentPoint.x][currentPoint.y] == true) {
                    continue;
                }
                visited[currentPoint.x][currentPoint.y] = true;

                var distance = currentPoint.distance;
                distance = Math.round(distance/(sizeX/moveLength));
                distance = distance%256 + 1;
//                distance = 10*distance/((sizeX/moveLength)*(sizeY/moveLength));
//                console.log(distance);

//                ctx.strokeStyle = "rgba(" + (distance%8) * 32 + "," + (distance%16) * 16 + "," + (distance%33) * 8 + "," + opacity + ")";
//                ctx.strokeStyle = "rgba(" + Math.round(distance*255) + "," + 0 + "," + 0 + "," + opacity + ")";

                ctx.moveTo(currentPoint.fromX, currentPoint.fromY);
                let xGreater = currentPoint.x > currentPoint.fromX ? 1 : -1;
                let yGreater = currentPoint.y > currentPoint.fromY ? 1 : -1;
                let xEqual = currentPoint.x === currentPoint.fromX ? 0 : 1;
                let yEqual = currentPoint.y === currentPoint.fromY ? 0 : 1;
                ctx.lineTo(currentPoint.x + xEqual * xGreater * (moveLength/4), currentPoint.y + yEqual * yGreater * (moveLength/4));
                ctx.stroke();

                var possibleLine = [];
                for (let j = 0; j < moves.length; ++j) {
                    xn = currentPoint.x + moves[j].x * moveLength;
                    yn = currentPoint.y + moves[j].y * moveLength;
                    if (xn >= 0 && yn >= 0 && xn <= sizeX && yn <= sizeY && visited[xn][yn] != true) {
                        possibleLine.push({x: xn, y: yn});
//                        visited[xn][yn] = true;
//                        bfsQueue.push({x: xn, y: yn, fromX: currentPoint.x, fromY: currentPoint.y, distance: currentPoint.distance+1});
                    }
                }

                if (possibleLine.length == 0) {
                    continue;
                }

                rnd = Math.floor(Math.random() * possibleLine.length);
                xn = possibleLine[rnd].x;
                yn = possibleLine[rnd].y;
//                ctx.moveTo(currentPoint.x, currentPoint.y);
//                ctx.lineTo(xn, yn);
//                ctx.stroke();
//                bfsQueue.push({x: xn, y: yn, fromX: currentPoint.x, fromY: currentPoint.y, distance: currentPoint.distance+1});

                possibleLine = shuffle(possibleLine);

                for(let j = 0; j < possibleLine.length / 2; ++j) {
                    bfsQueue.push({x: possibleLine[j].x, y: possibleLine[j].y, fromX: currentPoint.x, fromY: currentPoint.y, distance: currentPoint.distance+1});
                }
            }

//            if(dfsStack.length == 0) {
//                dfsStack.push({x: moveLength/2, y: 0, fromX: moveLength/2, fromY: 0});
//            }
        }

        function shuffle(array){
            let currentIndex = array.length, temporaryValue, randomIndex;
            while(currentIndex !== 0) {
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        }

        function hex2rgb(hex) {
            var rgb = [];
            rgb[0] = (hex >> 16 & 255) / 255;
            rgb[1] = (hex >> 8 & 255) / 255;
            rgb[2] = (255 & hex) / 255;
            return rgb;
        }

        function prepareExamples() {


            for (var i = 0; i < examples.length; ++i) {
                $("#examples").append("<option value='" + i + "'>" + examples[i].name + "</option>");
            }
        }
    });
</script>
</html>
