<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Line</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/leap-0.6.3.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body id="fractal_body">
<canvas id="canvas"></canvas>
<form>
    <div>
        <label for="speedInput">Speed</label>
        <input class="slider" type="range" min="1" max="300" id="speedInput" value="100"/>
    </div>
    <div>
        <label for="colorInput">Color</label>
        <input type="color" id="colorInput" value="#ff0000"/>
    </div>
    <div>
        <label for="backgroundColorInput">Background color</label>
        <input type="color" id="backgroundColorInput" value="#000000"/>
    </div>

    <div>
        <label for="opacityInput">Intensity: <span id="opacityValue">0.05</span></label>
        <input class="slider" type="range" min="0.01" max="1" id="opacityInput" value="0.05" step="0.01"/>
    </div>
    <div>
        <button id="clearButton">Clear</button>
    </div>
    <div>
        <button id="stopButton">Stop</button>
    </div>
    <div>
        <a href="index.html">Menu</a>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        var sizeX;
        var sizeY;
        var centerX;
        var centerY;
        var x;
        var y;
        var speed;
        var color;
        var backgroundColor;
        var stop;
        var pixels;
        var percent;
        var canvas;
        var ctx;
        var opacity;
        var points;
        var mouseDown;
        var minPoint;
        var maxPoint;
        var colorsArray;
        var colorIndex;

        init();

        function init() {
            prepareVariables();
            setSliders();
            prepareEvents();
            clearPixelsArray();
//            requestAnimationFrame(draw);
        }

        function prepareVariables() {
            sizeX = $("#canvas").width();
            sizeX -= $("form").width();
            $("#canvas").width(sizeX);
            sizeY = $("#canvas").height();
            centerX = sizeX / 2;
            centerY = sizeY / 2;
            x = centerX;
            y = centerY;
            speed = 100;
            color = 0xff0000;
            colorsArray = [0xff0000, 0x00ff00, 0x0000ff, 0xb00b00,  0xde1e7e, 0xe1e100, 0xBADA55, 0xF0FEAF, 0xac1d1c, 0xfacade];
            colorIndex = 0;
            backgroundColor = "#000000";
            stop = false;
            pixels = [];
            percent = 5 / 100;
            opacity = 0.05;
            points = [{x: x, y: y}];
            mouseDown = true;

            prepareCanvas();
        }

        function setSliders() {
            setSlidersValues();
            setSlidersLabelsValues();
        }

        function prepareEvents() {
            $("#speedInput").change(function () {
                speed = $("#speedInput").val();
            });

            $("#colorInput").change(function () {
                var tmp = $("#colorInput").val();
                tmp = tmp.replace("#", "");
                tmp = parseInt(tmp, 16);
                color = tmp;
            });

            $("#backgroundColorInput").change(function () {
                backgroundColor = $("#backgroundColorInput").val();
                clearPixelsArray();
                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, sizeX, sizeY);
            });

            $("#opacityInput").bind('input', function () {
                opacity = $("#opacityInput").val();
                $("#opacityValue").html(opacity);
            });

            $("#clearButton").click(function () {
                clearPixelsArray();

                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, sizeX, sizeY);
                return false;
            });

            $("#stopButton").click(function () {
                stop = !stop;

                if (stop) {
                    $("#stopButton").html("Start");
                } else {
                    $("#stopButton").html("Stop");
                }
                return false;
            });
        }

        function setSlidersLabelsValues() {
            $("#opacityValue").html(opacity);
        }

        function setSlidersValues() {
            $("#opacityInput").val(opacity);
        }

        function clearPixelsArray() {
            for (let i = 0; i < sizeX; ++i) {
                pixels[i] = [];
                for (let j = 0; j < sizeY; ++j) {
                    pixels[i][j] = 0;
                }
            }
        }

        function prepareCanvas() {
            canvas = document.getElementById("canvas");
            canvas.width = sizeX;
            canvas.height = sizeY;
            ctx = canvas.getContext("2d");
            ctx.fillStyle = backgroundColor;
            ctx.fillRect(0, 0, sizeX, sizeY);

        }

        let controllerOptions = {enableGestures: true};
        let center;
        let radius = 20;
        let fingers = [];

        function createFinger(id) {
            if(fingers[id] === undefined) {

                fingers[id] = {color: color, radius: radius};
            }
        }

        Leap.loop(controllerOptions, function (frame) {
            if (frame.gestures.length > 0) {
//                console.log(frame);
            }


            for (let i = 0; i < frame.gestures.length; ++i) {
                let gesture = frame.gestures[i];
                let radiusChanged = false;
                let colorChanged = false;

                if (gesture.type === 'circle' && gesture.state === 'stop') {
                    if (gesture.normal[0] < 0) {
                        radius += 5;
                    }
                    else {
                        radius -= 5;
                        if (radius <= 0) {
                            radius = 1;
                        }
                    }

                    radiusChanged = true;
                }

                if (gesture.type === 'keyTap') {
                    colorIndex++;
                    colorIndex %= colorsArray.length;
                    color = colorsArray[colorIndex];
                    colorChanged = true;
                }

                for(let j = 0; j < gesture.pointableIds.length; ++j) {
                    let id = gesture.pointableIds[j];
                    createFinger(id);
                    if(radiusChanged) {
                        fingers[id].radius = radius;
                    }

                    if(colorChanged) {
                        fingers[id].color = color;
                    }
                }
            }

            if (frame.pointables.length > 0) {
//                let i = 0;

                for (let i = 0; i < frame.pointables.length; i++) {

                    var pointable = frame.pointables[i];
                    if (!pointable.extended) {
                        continue;
                    }

                    createFinger(pointable.id);

                    var appWidth = sizeX;
                    var appHeight = sizeY;

                    var iBox = frame.interactionBox;

                    var leapPoint = pointable.stabilizedTipPosition;
                    var normalizedPoint = iBox.normalizePoint(leapPoint, true);

                    var appX = normalizedPoint[0] * appWidth;
                    var appY = (1 - normalizedPoint[1]) * appHeight;


//                    if(!mouseDown) {
//                        mouseDown = true;


                    x = appX;
                    y = appY;
                    points = [{x: x, y: y}];
                    minPoint = {x: x - 50, y: y - 50};
                    maxPoint = {x: x + 50, y: y + 50};
                    center = {x: x, y: y};
                    draw(fingers[pointable.id]);

//                    } else {
//                        x = appX;
//                        y = appY;
//                        minPoint = {x: x - 50, y: y - 50};
//                        maxPoint = {x: x + 50, y: y + 50};
//                        center = {x: x, y: y};
//                    }
                }
            } else {
//                mouseDown = false;
            }
        });

        function distance(x1, y1, x2, y2) {
            return Math.sqrt((x1 - x2) * (x1 - x2) + (y1 - y2) * (y1 - y2));
        }

        function draw(finger) {
            if (stop) {
                return;
            }

            var xn, yn;
            var values = [];
            for (let i = -5; i <= 5; i++) {
                values.push(i);
            }


            for (var i = 0; i < speed; ++i) {
                xn = x + values[Math.round(Math.random() * (values.length - 1))];
                yn = y + values[Math.round(Math.random() * (values.length - 1))];
//                if (xn < minPoint.x || yn < minPoint.y || xn > maxPoint.x || yn > maxPoint.y) {
//                    continue;
//                }

                if (distance(xn, yn, center.x, center.y) > finger.radius) {
                    continue;
                }

                points.push({x: xn, y: yn});
                if (points.length === 4) {
                    var rgb = hex2rgb(finger.color);
                    ctx.strokeStyle = "rgba(" + rgb[0] * 255 + "," + rgb[1] * 255 + "," + rgb[2] * 255 + "," + opacity + ")";
                    ctx.beginPath();
                    ctx.moveTo(points[0].x, points[0].y);
                    ctx.bezierCurveTo(points[1].x, points[1].y, points[2].x, points[2].y, points[3].x, points[3].y);
                    ctx.stroke();


                    let reflectedPoints = [];
                    for (let j = 0; j < 4; ++j) {
                        reflectedPoints[j] = reflectVertically(points[j]);
                    }

                    ctx.beginPath();
                    ctx.moveTo(reflectedPoints[0].x, reflectedPoints[0].y);
                    ctx.bezierCurveTo(reflectedPoints[1].x, reflectedPoints[1].y, reflectedPoints[2].x, reflectedPoints[2].y, reflectedPoints[3].x, reflectedPoints[3].y);
                    ctx.stroke();


                    for (let j = 0; j < 4; ++j) {
                        reflectedPoints[j] = reflectHorizontally(reflectedPoints[j]);
                    }

                    ctx.beginPath();
                    ctx.moveTo(reflectedPoints[0].x, reflectedPoints[0].y);
                    ctx.bezierCurveTo(reflectedPoints[1].x, reflectedPoints[1].y, reflectedPoints[2].x, reflectedPoints[2].y, reflectedPoints[3].x, reflectedPoints[3].y);
                    ctx.stroke();

                    for (let j = 0; j < 4; ++j) {
                        reflectedPoints[j] = reflectHorizontally(points[j]);
                    }

                    ctx.beginPath();
                    ctx.moveTo(reflectedPoints[0].x, reflectedPoints[0].y);
                    ctx.bezierCurveTo(reflectedPoints[1].x, reflectedPoints[1].y, reflectedPoints[2].x, reflectedPoints[2].y, reflectedPoints[3].x, reflectedPoints[3].y);
                    ctx.stroke();

                    for (let j = 0; j < 3; ++j) {
                        points[j] = points[j + 1];
                    }

                    points.pop();
                }

                x = xn;
                y = yn;
            }
        }

        function reflectVertically(point) {
            let newPoint = {x: point.x, y: point.y};
            newPoint.x = centerX - point.x + centerX;
            return newPoint;
        }

        function reflectHorizontally(point) {
            let newPoint = {x: point.x, y: point.y};
            newPoint.y = centerY - point.y + centerY;
            return newPoint;
        }

        function hex2rgb(hex) {
            let rgb = [];
            rgb[0] = (hex >> 16 & 255) / 255;
            rgb[1] = (hex >> 8 & 255) / 255;
            rgb[2] = (255 & hex) / 255;
            return rgb;
        }
    });
</script>
</body>
</html>
