<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphs</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="text-primary" href="random_sowing.html">Random path</a>
                </li>
                <li class="list-group-item">
                    <a class="text-primary" href="random_line.html">Random line</a>
                </li>
                <li class="list-group-item">
                    <a class="text-primary" href="dis_random_line.html">Dis random line</a>
                </li>
<!--                <li class="list-group-item">-->
<!--                    <a class="text-primary" href="drawing.html">Drawing</a>-->
<!--                </li>-->
<!--                <li class="list-group-item">-->
<!--                    <a class="text-primary" href="drawing2.html">Drawing 2</a>-->
<!--                </li>-->
                <li class="list-group-item">
                    <a class="text-primary" href="../../index.html">Menu</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>