<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random sowing</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../js/brushy.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../../css/main.css" type="text/css" rel="stylesheet"/>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body id="fractal_body">
<canvas id="canvas"></canvas>
<form>
    <div>
        <label for="speedInput">Speed</label>
        <input class="slider" type="range" min="1" max="8000" id="speedInput" value="1000"/>
    </div>
    <div>
        <label for="lengthInput">Length</label>
        <input class="slider" type="range" min="1" max="10" id="lengthInput" value="1"/>
    </div>
    <div>
        <label for="colorInput">Color</label>
        <input type="color" id="colorInput" value="#ff0000"/>
    </div>
    <div>
        <label for="backgroundColorInput">Background color</label>
        <input type="color" id="backgroundColorInput" value="#000000"/>
    </div>
    <div>
        <label for="opacityInput">Intensity: <span id="opacityValue">0.05</span></label>
        <input class="slider" type="range" min="0.01" max="1" id="opacityInput" value="0.05" step="0.01"/>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="randomColorInput">
            Random color
        </label>
    </div>
    <div>
        <button class="btn btn-lg btn-primary" id="clearButton">Clear</button>
    </div>
    <div>
        <button class="btn btn-lg btn-primary" id="stopButton">Stop</button>
    </div>
    <div>
        <a class="btn btn-info" href="index.html">Menu</a>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        let sizeX;
        let sizeY;
        let centerX;
        let centerY;
        let scale;
        let x;
        let y;
        let speed;
        let color;
        let backgroundColor;
        let stop;
        let pixels;
        let percent;
        let canvas;
        let ctx;
        let examples;
        let opacity;
        let randomColor = false;
        let moveLength = 1;

        init();

        function init() {
            prepareVariables();
            setSliders();
            prepareEvents();
            clearPixelsArray();
            requestAnimationFrame(draw);
        }

        function prepareVariables() {
            sizeX = $("#canvas").width();
            sizeX -= $("form").width();
            $("#canvas").width(sizeX);
            sizeY = $("#canvas").height();
            centerX = sizeX / 2;
            centerY = sizeY / 2;
            scale = sizeX / 6;
            x = Math.round(centerX);
            y = Math.round(centerY);
            speed = 1000;
            color = 0xff0000;
            backgroundColor = "#000000";
            stop = false;
            pixels = [];
            percent = 5 / 100;
            examples = [];
            opacity = 0.05;
            prepareCanvas();
        }

        function setSliders() {
            setSlidersValues();
            setSlidersLabelsValues();
        }

        function prepareEvents() {
            $("#speedInput").change(function () {
                speed = $("#speedInput").val();
            });

            $("#lengthInput").change(function () {
                moveLength = parseInt($("#lengthInput").val());
            });

            $("#colorInput").change(function () {
                let tmp = $("#colorInput").val();
                tmp = tmp.replace("#", "");
                tmp = parseInt(tmp, 16);
                color = tmp;
            });

            $("#backgroundColorInput").change(function () {
                backgroundColor = $("#backgroundColorInput").val();
                clearPixelsArray();
                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, sizeX, sizeY);
            });

            $("#opacityInput").bind('input', function () {
                opacity = $("#opacityInput").val();
                $("#opacityValue").html(opacity);
            });

            $("#clearButton").click(function () {
                clearPixelsArray();

                ctx.fillStyle = backgroundColor;
                ctx.fillRect(0, 0, sizeX, sizeY);
                return false;
            });

            $("#stopButton").click(function () {
                stop = !stop;

                if (stop) {
                    $("#stopButton").html("Start");
                } else {
                    $("#stopButton").html("Stop");
                }
                return false;
            });

            $('#randomColorInput').change($.proxy(function(){
                randomColor = !randomColor;
            }, this));
        }

        function setSlidersLabelsValues() {
            $("#opacityValue").html(opacity);
        }

        function setSlidersValues() {
            $("#opacityInput").val(opacity);
        }

        function clearPixelsArray() {
            for (let i = 0; i < sizeX; ++i) {
                pixels[i] = [];
                for (let j = 0; j < sizeY; ++j) {
                    pixels[i][j] = 0;
                }
            }
        }

        function prepareCanvas() {
            canvas = document.getElementById("canvas");
            canvas.width = sizeX;
            canvas.height = sizeY;
            ctx = canvas.getContext("2d");
            ctx.fillStyle = backgroundColor;
            ctx.fillRect(0, 0, sizeX, sizeY);
        }

        function draw() {
            requestAnimationFrame(draw);
            if (stop) {
                return;
            }

            let xn, yn;
            let values = [];
            let length = moveLength;
            for(let i = -length; i<=length; i++) {
                values.push(i);
            }

            let rColor = Brushy.randomHexColor();
            for (let i = 0; i < speed; ++i) {
                xn = x + values[Math.round(Math.random() * (values.length - 1))];
                yn = y + values[Math.round(Math.random() * (values.length - 1))];
                if (xn < 0 || yn < 0 || xn > sizeX - 10 || yn > sizeY - 10) {
                    continue;
                }

                let val = pixels[xn][yn];
                let rgb = hex2rgb(color);

                if(randomColor) {
                    rgb = hex2rgb(rColor);
                }

                rgb[0] -= rgb[0] * val * percent > 0 ? rgb[0] * val * percent : 0;
                rgb[1] -= rgb[1] * val * percent > 0 ? rgb[1] * val * percent : 0;
                rgb[2] -= rgb[2] * val * percent > 0 ? rgb[2] * val * percent : 0;

                ctx.fillStyle = "rgba(" + rgb[0] * 255 + "," + rgb[1] * 255 + "," + rgb[2] * 255 + "," + opacity + ")";
                ctx.fillRect(xn, yn, 1, 1);

                x = xn;
                y = yn;

                pixels[x][y] = pixels[x][y] < 5 ? pixels[x][y] + 1 : 0;
            }
        }

        function hex2rgb(hex) {
            let rgb = [];
            rgb[0] = (hex >> 16 & 255) / 255;
            rgb[1] = (hex >> 8 & 255) / 255;
            rgb[2] = (255 & hex) / 255;
            return rgb;
        }
    });
</script>
</body>
</html>